<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>403 Permission Denied </title>
<link href="{% static "pomiary/error.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="content">
        <div class="clearfix"></div>

        <div id="main-body">
            <p class="enormous-font bree-font"> 403 </p>
            <p class="big-font"> Niestety nie wolno ci tu być :( </p>
            <hr>
            <p class="big-font"> Wróćmy do <a href="/" class="underline">strony głównej</a></p>
        </div>
    </div>
</body>
</html>
