{% load staticfiles %}
{% load l10n %}

<html lang="pl">
    <head>
        <title>NAMEHERE widok użytkownika</title>
        <link rel="stylesheet" type="text/css" href={% static "admin/css/base.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "pomiary/sec.css" %}>
        <meta charset="utf-8">
    </head>
    <script src={% static "pomiary/Chart.js" %}></script>
    <script src={% static "pomiary/ajax.js" %}></script>
    <body class="dashboard">
        <div id="container">
            <div id="header">
                <div id="branding">
                    <h1 id="site-name">Widok użytkownika</h1>
                </div>
                <div id="user-tools">
                    Witaj. <a href="index.html">Zaloguj się</a>
                </div>
            </div>
            <div id="sec_border">
                <canvas id="myChart" width="300" height="100"></canvas>
            </div>
            <br /><br />
            <div id="knowledge">
                <h1>Czy wiesz że... ?</h1>
                <p>Hałas jest jednym z cywilizacyjnych zagrożeń czyhających na nasze zdrowie. Tak jak fast foody powodują cukrzycę i otyłość, a wielo godzinne przesiadywanie przed komputerem wady postawy, tak przebywanie w miejscach o podwyższonym natężeniu hałasu powoduje, że słyszymy znacznie gorzej niż ludzie żyjący jeszcze kilkadziesiąt lat temu.</p>
            </div>
            <h1>Nota od autora</h1>
            <p>Jest to bardzo wczesna wersja strony. Do poprawienia:<br />lepsze wyświetlanie podpisu osi<br />opisanie osi<br />i wiele więcej...</p>
            <!--<footer>©Copyrights 2017 Armia Prezesa</footer>-->
        </div>
    </body>

    <script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [
                {% for sonda in sondy %}
                {
                    label: "{{ sonda }}",
                    data: [
                        {% for pomiar in sonda.pomiary %}
                            {
                                x: {{ pomiar.godzina }},
                                y: {{ pomiar.wynik|unlocalize }}
                            },
                        {% endfor %}
                    ]
                },
                {% endfor %}
            ]
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }],
            xAxes: [{
                type: 'linear',
                position: 'bottom'
            }]
        }
    }
    });
    </script>
</html>

